main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20%;
}

/* Funcionário */

.funcionario {
  display: flex;
  flex-direction: row;
  margin-bottom: 8%;
}

.foto {
  width: 1.9in;
  height: 1.4in;
  background-color: #D9D9D9;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
}

.info {
  display: flex;
  flex-direction: column;
}

.info h3 {
  margin: 0;
  font-size: 24px;
}

.info p {
  margin: 5px 0;
  font-size: 16px;
}

/* Mensagem */

#mensagem {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: x-small;
  margin-bottom: 8%;
}

/* Equipamento */

.equipamento {
  display: flex;
  align-items: center;
  margin-bottom: 2%;
}

.foto-equipamento {
  width: 1.3in;
  height: 1.1in;
  background-color: #D9D9D9;
  border-radius: 10px;
  margin-right: 0.7em;
}

.info-equipamento {
  display: flex;
  flex-direction: column;
}

label {
  margin: 0.5em 0;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* Container */

.container {
  margin-top: 4%;
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}

.botao-solicitacao {
  background-color: #D9D9D9;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.botao-solicitacao:hover {
  background-color: #939597;
}

.termo-container {
  display: flex;
  flex-direction: row;
  text-decoration: underline;
  margin-bottom: 20%;
}

.termo-container > input[type="checkbox"] {
  width: 10px;
  height: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

label {
  font-size: 16px;
  margin-bottom: 10px;
}