main {
    margin-top: 30%;
}

main h3 {
    text-align: left;
}

#check-equip {
    margin-top: 8%;
    margin-left: 5%;
    margin-bottom: 10%;
}

#check-equip .fa {
    padding-top: 4%;
}

#check-equip #error {
    color: red;
}

#check-equip #exclamation {
    color: #FFDE59;
}

#check-equip #check {
    color: green;
}

.checagem {
    display: flex;
    flex-direction: row;
}

.info-funcionario {
    margin-left: 5%;
    margin-top: 5%;
}

.icone-equip {
    width: 80px;
    height: 80px;
}

hr {
    text-align: center;
    width: 350px;
    margin-top: 3%;
    margin-bottom: 3%;
}

h4, p, label {
    width: 220px;
}

a,
label {
    cursor: pointer;
}

.hide {
    display: none;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked~.hide {
    display: block
}

input[type="checkbox"]:not(:checked)~.hide {
    display: none
}