main {
    margin-top: 30%;
}

#conta {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    margin-left: 5%;
}

.fa {
    width: 32px;
    height: 32px;
}

.opcoes {
    display: flex;
    flex-direction: row;
    margin-top: 10%;
}

.opcoes p {
    font-size: 22px;
    width: 100px;
    margin-left: 5%;
    padding-top: 1%;
}

.opcoes #seta{
    margin-left: 50%;
}

#mais {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    margin-left: 5%;
    margin-top: 20%;
}