img {
    width: 140px;
    height: 140px;
    display: block;
    margin: 10% auto;
}

#info-user {
    display: flex;
    text-align: center;
    flex-direction: column;
}

h3 {
    font-size: 2em;
}

h6 {
    font-size: 1.3em;
}

h4 {
    margin-top: 15%;
    font-size: 1.7em;
    text-align: center;
}

main a {
    display: flex;
    justify-content: center;
    font-size: 1em;
    color: black;
    font-weight: bold;
}

#pontos {
    width: 90%;
    height: 15vh;
}