main {
    margin-top: 35%;
}

h2 {
    text-align: center;
}

hr {
    text-align: center;
    width: 350px;
    margin-top: 3%;
    margin-bottom: 2%;
}

#icone-trofeu {
    display: block;
    margin: 5% auto;
    width: 80px;
    height: 80px;
}

#filtro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
}

#pesquisa {
    margin-left: 5%;
  }
  
  .input-wrapper {
    position: relative;
  }
  
  .input-wrapper input[type="text"] {
    width: 350px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid black;
  }
  
  .icon-wrapper {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
  }
  
  .icon-wrapper i {
    display: inline-block;
    font-size: 16px;
    color: #555;
    cursor: pointer;
    margin-left: 5px;
  }    

select {
    width: 350px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5%;
    border: 1px solid black;
}

#lista {
    margin-left: 5%;
    margin-bottom: 20%;
}

.funcionario {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    margin-bottom: 5%;
}

.info-funcionario {
    margin-left: 5%;
    display: flex;
    flex-direction: row;
}

.pontos-funcionario {
    width: 200px;
    margin-top: 5%;
}

.pontos {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}

h4 {
    font-size: 16px;
}

p {
    font-size: 14px;
}