main {
    margin-top: 30%;
  }
  
main h3 {
    text-align: left;
}
  
#check-equip {
  margin-top: 8%;
  margin-left: 5%;
  margin-bottom: 10%;
}
  
#check-equip .fa {
  margin-left: 20%;
  padding-top: 4%;
}
  
#check-equip #error{
  color: red;
}
  
#check-equip #exclamation {
  color: yellow;
}
  
#check-equip #check {
  color: green;
}
  
.equipamento {
  display: flex;
  flex-direction: row;
}
  
.confirm {
  margin-left: 5%;
  margin-top: 5%;
}

.confirm form {
  margin-top: 8%;
  display: flex;
  flex-direction: row;
}
  
.confirm form > input[type="checkbox"] {
  width: 25px;
  height: 25px;
}

.confirm label {
  margin-left: 5%;
  font-size: 16px;
}
  
.icone-equip {
  padding-top: 5%;
  width: 45px;
  height: 45px;
}

  
hr {
  text-align: center;
  width: 350px;
  margin-top: 3%;
  margin-bottom: 3%;
}
  
/* Container */
  
.container1 {
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  
.botao-solicitacao {
  display: block;
  margin: auto;
  background-color: #FFDE59;
  color: white;
  width: 350px;
  height: 48px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
  
.botao-solicitacao .fa {
  color: white;
  background-color: #FFDE59;
  margin-right: 2%;
}

.termo-container {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}

.ler-termo {
  display: flex;
  flex-direction: row;
  margin-bottom: 4%;
}

.ler-termo > input[type="checkbox"] {
  width: 25px;
  height: 25px;
}

.ler-termo label {
  font-size: 16px;
  margin-left: 3%;
}
  
.container2 {
  margin-top: 8%;
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}
  
.botao-confirma {
  background-color: #5A98FF;
  color: white;
  width: 350px;
  height: 48px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15%;
}
  
b {
  background-color: transparent;
  color: white;
}

/* Camera */

video {
  margin-top: 5%;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  border: 1px solid #D5D5D5;
  border-radius: 25px;
}

#botoes-cam {
  display: block;
  margin: 5% auto;
}

#botoes-cam ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
}

#picture {
  margin: 10% 5% 0 5%;
  width: 90%;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  border: 1px solid #D5D5D5;
  border-radius: 25px;
}

.opcoes-cam {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 2px solid #D5D5D5;
  background-color: #FFDE59;
}

.opcoes-cam .fa {
  color: white;
  background-color: #FFDE59;
}